doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title Document
  link(rel='stylesheet', href='/css/base.css')
  link(rel='stylesheet', href='/css/style.css')
  script(src='https://kit.fontawesome.com/c909c23c5d.js', crossorigin='anonymous')
.app
  .header
    form.url(action='', method='post')
      input.url-input(type='text', placeholder='url ...', name='urlgit')
      button.btn-search
        i.fa-solid.fa-magnifying-glass
  .grid.body
    .releases-item
      .releases-name Releases v7.2.2
      .releases-item-info.row
        .commits-list.l-7
          .time-line
          .commits-item
            .time-line-circle
            span.commits-date Commits on Jun 4, 2002
            .commits-info
              .commits-info-item
                .commits-subinfo-item Bump version to 7.2.3
                .commits-info-committer
                  img.commits-info-committer-img(src='https://avatars.githubusercontent.com/u/17545095?s=200&v=4', alt='')
                  span.commits-info-committer-name mrjameshamilton
                  span.commits-info-committer-date committed on Jun 4
                .commit-code
                  a.commit-code-text(href='') 376d2bc
              .commits-info-item
                .commits-subinfo-item Bump version to 7.2.3
                .commits-info-committer
                  img.commits-info-committer-img(src='https://avatars.githubusercontent.com/u/17545095?s=200&v=4', alt='')
                  span.commits-info-committer-name mrjameshamilton
                  span.commits-info-committer-date committed on Jun 4
                .commit-code
                  a.commit-code-text(href='') 376d2bc
          .commits-item
            .time-line-circle
            span.commits-date Commits on Jun 4, 2002
            .commits-info
              .commits-info-item
                .commits-subinfo-item Bump version to 7.2.3
                .commits-info-committer
                  img.commits-info-committer-img(src='https://avatars.githubusercontent.com/u/17545095?s=200&v=4', alt='')
                  span.commits-info-committer-name mrjameshamilton
                  span.commits-info-committer-date committed on Jun 4
                .commit-code
                  a.commit-code-text(href='') 376d2bc
              .commits-info-item
                .commits-subinfo-item Bump version to 7.2.3
                .commits-info-committer
                  img.commits-info-committer-img(src='https://avatars.githubusercontent.com/u/17545095?s=200&v=4', alt='')
                  span.commits-info-committer-name mrjameshamilton
                  span.commits-info-committer-date committed on Jun 4
                .commit-code
                  a.commit-code-text(href='') 376d2bc
          .commits-item
            .time-line-circle
            span.commits-date Commits on Jun 4, 2002
            .commits-info
              .commits-info-item
                .commits-subinfo-item Bump version to 7.2.3
                .commits-info-committer
                  img.commits-info-committer-img(src='https://avatars.githubusercontent.com/u/17545095?s=200&v=4', alt='')
                  span.commits-info-committer-name mrjameshamilton
                  span.commits-info-committer-date committed on Jun 4
                .commit-code
                  a.commit-code-text(href='') 376d2bc
              .commits-info-item
                .commits-subinfo-item Bump version to 7.2.3
                .commits-info-committer
                  img.commits-info-committer-img(src='https://avatars.githubusercontent.com/u/17545095?s=200&v=4', alt='')
                  span.commits-info-committer-name mrjameshamilton
                  span.commits-info-committer-date committed on Jun 4
                .commit-code
                  a.commit-code-text(href='') 376d2bc
        .releases-changelog.l-5
          span
            | Test th&#x1EED; th&#x1B0; m&#x1EE5;c c&oacute; ho&#x1EA1;t &dstrok;&#x1ED9;ng &#x1ED5;n &dstrok;&#x1ECB;nh nh&#x1B0; mong mu&#x1ED1;n kh&ocirc;ng n&#x1EBF;u
            | kh&ocirc;ng th&igrave; quay tr&#x1EDF; l&#x1EA1;i nh&#x1B0; ban &dstrok;&#x1EA7;u nh&#x1EDB; hay l&agrave;m theo Test th&#x1EED; th&#x1B0; m&#x1EE5;c c&oacute; ho&#x1EA1;t &dstrok;&#x1ED9;ng &#x1ED5;n &dstrok;&#x1ECB;nh nh&#x1B0; mong mu&#x1ED1;n kh&ocirc;ng n&#x1EBF;u
            | kh&ocirc;ng th&igrave; quay tr&#x1EDF; l&#x1EA1;i nh&#x1B0; ban &dstrok;&#x1EA7;u nh&#x1EDB; hay l&agrave;m theo
            | Test th&#x1EED; th&#x1B0; m&#x1EE5;c c&oacute; ho&#x1EA1;t &dstrok;&#x1ED9;ng &#x1ED5;n &dstrok;&#x1ECB;nh nh&#x1B0; mong mu&#x1ED1;n kh&ocirc;ng n&#x1EBF;u
            | kh&ocirc;ng th&igrave; quay tr&#x1EDF; l&#x1EA1;i nh&#x1B0; ban &dstrok;&#x1EA7;u nh&#x1EDB; hay l&agrave;m theo
            | Test th&#x1EED; th&#x1B0; m&#x1EE5;c c&oacute; ho&#x1EA1;t &dstrok;&#x1ED9;ng &#x1ED5;n &dstrok;&#x1ECB;nh nh&#x1B0; mong mu&#x1ED1;n kh&ocirc;ng n&#x1EBF;u
            | kh&ocirc;ng th&igrave; quay tr&#x1EDF; l&#x1EA1;i nh&#x1B0; ban &dstrok;&#x1EA7;u nh&#x1EDB; hay l&agrave;m theo
            | Test th&#x1EED; th&#x1B0; m&#x1EE5;c c&oacute; ho&#x1EA1;t &dstrok;&#x1ED9;ng &#x1ED5;n &dstrok;&#x1ECB;nh nh&#x1B0; mong mu&#x1ED1;n kh&ocirc;ng n&#x1EBF;u
            | kh&ocirc;ng th&igrave; quay tr&#x1EDF; l&#x1EA1;i nh&#x1B0; ban &dstrok;&#x1EA7;u nh&#x1EDB; hay l&agrave;m theo
            | Test th&#x1EED; th&#x1B0; m&#x1EE5;c c&oacute; ho&#x1EA1;t &dstrok;&#x1ED9;ng &#x1ED5;n &dstrok;&#x1ECB;nh nh&#x1B0; mong mu&#x1ED1;n kh&ocirc;ng n&#x1EBF;u
            | kh&ocirc;ng th&igrave; quay tr&#x1EDF; l&#x1EA1;i nh&#x1B0; ban &dstrok;&#x1EA7;u nh&#x1EDB; hay l&agrave;m theo
            | Test th&#x1EED; th&#x1B0; m&#x1EE5;c c&oacute; ho&#x1EA1;t &dstrok;&#x1ED9;ng &#x1ED5;n &dstrok;&#x1ECB;nh nh&#x1B0; mong mu&#x1ED1;n kh&ocirc;ng n&#x1EBF;u
            | kh&ocirc;ng th&igrave; quay tr&#x1EDF; l&#x1EA1;i nh&#x1B0; ban &dstrok;&#x1EA7;u nh&#x1EDB; hay l&agrave;m theo
            | Test th&#x1EED; th&#x1B0; m&#x1EE5;c c&oacute; ho&#x1EA1;t &dstrok;&#x1ED9;ng &#x1ED5;n &dstrok;&#x1ECB;nh nh&#x1B0; mong mu&#x1ED1;n kh&ocirc;ng n&#x1EBF;u
            | kh&ocirc;ng th&igrave; quay tr&#x1EDF; l&#x1EA1;i nh&#x1B0; ban &dstrok;&#x1EA7;u nh&#x1EDB; hay l&agrave;m theo
            | Test th&#x1EED; th&#x1B0; m&#x1EE5;c c&oacute; ho&#x1EA1;t &dstrok;&#x1ED9;ng &#x1ED5;n &dstrok;&#x1ECB;nh nh&#x1B0; mong mu&#x1ED1;n kh&ocirc;ng n&#x1EBF;u
            | kh&ocirc;ng th&igrave; quay tr&#x1EDF; l&#x1EA1;i nh&#x1B0; ban &dstrok;&#x1EA7;u nh&#x1EDB; hay l&agrave;m theo
            | Test th&#x1EED; th&#x1B0; m&#x1EE5;c c&oacute; ho&#x1EA1;t &dstrok;&#x1ED9;ng &#x1ED5;n &dstrok;&#x1ECB;nh nh&#x1B0; mong mu&#x1ED1;n kh&ocirc;ng n&#x1EBF;u
            | kh&ocirc;ng th&igrave; quay tr&#x1EDF; l&#x1EA1;i nh&#x1B0; ban &dstrok;&#x1EA7;u nh&#x1EDB; hay l&agrave;m theo
    .releases-item
      .releases-name Releases v7.2.2
      .releases-item-info.row
        .commits-list.l-7
          .time-line
          .commits-item
            .time-line-circle
            span.commits-date Commits on Jun 4, 2002
            .commits-info
              .commits-info-item
                .commits-subinfo-item Bump version to 7.2.3
                .commits-info-committer
                  img.commits-info-committer-img(src='https://avatars.githubusercontent.com/u/17545095?s=200&v=4', alt='')
                  span.commits-info-committer-name mrjameshamilton
                  span.commits-info-committer-date committed on Jun 4
                .commit-code
                  a.commit-code-text(href='') 376d2bc
              .commits-info-item
                .commits-subinfo-item Bump version to 7.2.3
                .commits-info-committer
                  img.commits-info-committer-img(src='https://avatars.githubusercontent.com/u/17545095?s=200&v=4', alt='')
                  span.commits-info-committer-name mrjameshamilton
                  span.commits-info-committer-date committed on Jun 4
                .commit-code
                  a.commit-code-text(href='') 376d2bc
          .commits-item
            .time-line-circle
            span.commits-date Commits on Jun 4, 2002
            .commits-info
              .commits-info-item
                .commits-subinfo-item Bump version to 7.2.3
                .commits-info-committer
                  img.commits-info-committer-img(src='https://avatars.githubusercontent.com/u/17545095?s=200&v=4', alt='')
                  span.commits-info-committer-name mrjameshamilton
                  span.commits-info-committer-date committed on Jun 4
                .commit-code
                  a.commit-code-text(href='') 376d2bc
              .commits-info-item
                .commits-subinfo-item Bump version to 7.2.3
                .commits-info-committer
                  img.commits-info-committer-img(src='https://avatars.githubusercontent.com/u/17545095?s=200&v=4', alt='')
                  span.commits-info-committer-name mrjameshamilton
                  span.commits-info-committer-date committed on Jun 4
                .commit-code
                  a.commit-code-text(href='') 376d2bc
          .commits-item
            .time-line-circle
            span.commits-date Commits on Jun 4, 2002
            .commits-info
              .commits-info-item
                .commits-subinfo-item Bump version to 7.2.3
                .commits-info-committer
                  img.commits-info-committer-img(src='https://avatars.githubusercontent.com/u/17545095?s=200&v=4', alt='')
                  span.commits-info-committer-name mrjameshamilton
                  span.commits-info-committer-date committed on Jun 4
                .commit-code
                  a.commit-code-text(href='') 376d2bc
              .commits-info-item
                .commits-subinfo-item Bump version to 7.2.3
                .commits-info-committer
                  img.commits-info-committer-img(src='https://avatars.githubusercontent.com/u/17545095?s=200&v=4', alt='')
                  span.commits-info-committer-name mrjameshamilton
                  span.commits-info-committer-date committed on Jun 4
                .commit-code
                  a.commit-code-text(href='') 376d2bc
        .releases-changelog.l-5 test thu xem duowc khong
        
  .nav
    ul
      li Bump version to 7.2.3
      li Bump version to 7.2.3
      li Bump version to 7.2.3
      li Bump version to 7.2.3
//- script(src='./index.js')
